
<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Arount Thailand</h5>
        <p class="grey-text text-lighten-4">.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; 2014 aroundthailand.co All right reserved.
    <span class="right">
      <a href="#!">
        <i class="fa fa-facebook grey-text text-lighten-5 fa-lg"></i>
      </a>
      &nbsp;
      <a href="#!">
        <i class="fa fa-youtube grey-text text-lighten-5 fa-lg"></i>
      </a>
    </span>
    </div>
  </div>
</footer>
