<section class="cd-hero">
<ul class="cd-hero-slider">
  <li class="selected">
    <div class="cd-half-width col-md-3 summer">
      <h2><span>Discover</span> the world together!</h2>
      <p>Travego HTML5 / CSS3 template, simple, clean and Professional theme. It’s fully responsive, Validation code and good documentation.</p>
      <a href="#" class="cd-btn">Article &amp; Download</a>
    </div>
    <div class="cd-half-width cd-img-container">
      <img src="images/last-minute2.png" alt="tech 1"/>
    </div>
  </li>
  <li>
    <div class="cd-half-width cd-img-container">
    </div>
    <div class="cd-half-width spring">
      <h2><span>Discover</span> the world together!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
      <a href="#0" class="cd-btn">Start</a>
      <a href="#0" class="cd-btn secondary">Learn More</a>
      </div> <!-- .cd-half-width -->
    </li>
    <li>
      <div class="cd-half-width">
        <h2><span>Discover</span> the world together!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
        <a href="#0" class="cd-btn">Start</a>
        <a href="#0" class="cd-btn secondary">Learn More</a>
        </div> <!-- .cd-half-width -->
      </li>
      <li class="cd-bg-video">
        <div class="cd-full-width">
          <h2><span>Discover</span> the world together!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
          <a href="#0" class="cd-btn">Learn more</a>
          </div> <!-- .cd-full-width -->
          
        </li>
        <li>
          <div class="cd-full-width">
            <h2>Slide title here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
            <a href="#0" class="cd-btn">Start</a>
            <a href="#0" class="cd-btn secondary">Learn More</a>
            </div> <!-- .cd-full-width -->
          </li>
          </ul> <!-- .cd-hero-slider -->
          <div class="cd-slider-nav">
            <nav>
              <span class="cd-marker item-1"></span>
              
              <ul>
                <li class="selected"><a href="#0">Summer</a></li>
                <li><a href="#0">Spring</a></li>
                <li><a href="#0">Winter</a></li>
                <li><a href="#0">Autumn</a></li>
              </ul>
            </nav>
            </div> <!-- .cd-slider-nav -->
            
            </section> <!-- .cd-hero -->
            <!-- TOP OFFERTS -->
            <section id="top-offerts" class='home4-section'>
              <div class="container">
                <div class="row">
                  <div class="col-md-12 effect-5 effects no-border-img">
                    
                    <div class="text-center">
                      <h2>THE BEST PROMOTIONS</h2>
                      <div class="separator">
                        <div class="separator-style"></div>
                      </div>
                      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
                    </div>
                    
                    <!-- FIFTH EXAMPLE -->
                    <div class="four-col col-md-3 view view-fifth">
                      <figure class="triggerAnimation animated" data-animate="fadeInDown">
                        <div class="img-effect-flash">
                          <img src="http://placehold.it/640x462" alt=""/>
                        </div>
                      </figure>
                      <div class="mask">
                        <div class="main">
                          <div class="trip-title"><h3>Hilton Hotel</h3><br /><p>Paris</p></div>
                          <div class="price"><p>From</p>€ 499</div>
                        </div>
                        <div class="content">
                          <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar fermentum.
                        malesuada metus.</p>
                        
                        <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                      </div>
                    </div>
                  </div>
                  <div class="four-col col-md-3 view view-fifth">
                    <figure class="triggerAnimation animated" data-animate="fadeInDown">
                      <div class="img-effect-flash">
                        <img src="http://placehold.it/640x462" alt=""/>
                      </div>
                    </figure>
                    <div class="mask">
                      <div class="main">
                        <div class="trip-title"><h3>Meriot Hotel</h3><br /><p>Prague</p></div>
                        <div class="price"><p>From</p>€ 270</div>
                      </div>
                      <div class="content">
                        <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar fermentum.
                      malesuada metus.</p>
                      
                      <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="four-col col-md-3 view view-fifth">
                  <figure class="triggerAnimation animated" data-animate="fadeInDown">
                    <div class="img-effect-flash">
                      <img src="http://placehold.it/640x462" alt=""/>
                    </div>
                  </figure>
                  <div class="mask">
                    <div class="main">
                      <div class="trip-title"><h3>Burgi Hotel</h3><br /><p>Bali</p></div>
                      <div class="price"><p>From</p>€ 799</div>
                    </div>
                    <div class="content">
                      <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar fermentum.
                    malesuada metus.</p>
                    
                    <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
              <div class="four-col col-md-3 view view-fifth">
                <figure class="triggerAnimation animated" data-animate="fadeInDown">
                  <div class="img-effect-flash">
                    <img src="http://placehold.it/640x462" alt=""/>
                  </div>
                </figure>
                <div class="mask">
                  <div class="main">
                    <div class="trip-title"><h3>Tunis Hotel</h3><br /><p>Bali</p></div>
                    <div class="price"><p>From</p>€ 799</div>
                  </div>
                  <div class="content">
                    <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar fermentum.
                  malesuada metus.</p>
                  
                  <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                </div>
              </div>
            </div>
            </div><!--Close col 12 -->
          </div>
        </div>
      </section>
      <section class='parallax-meteo'>
        <div class='paral-effect'></div>
        <div class="container">
          <div class="row">
            <div class='col-md-12'>
              <div class="text-meteo">
                <h2>Check your forecast</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
              </div>
              <div id="meteo1"></div>
              <div id="meteo2"></div>
              <a class="meteo-bt" href="">All Forecast</a>
            </div>
          </div>
        </div>
      </section>
      <!-- LAST MINUTES -->
      <section id="lastminute-offerts" class='home4-section'>
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h2>Last Minute</h2>
              <div class="separator">
                <div class="separator-style"></div>
              </div>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
            </div>
            
            <div class="col-md-12 effect-5 effects no-border-img">
              <div class="four-col col-md-3 view view-fifth">
                <figure class="triggerAnimation animated" data-animate="fadeInDown">
                  <div class="img-effect-flash">
                    <img src="http://placehold.it/640x462" alt=""/>
                  </div>
                </figure>
                <div class="mask">
                  <div class="main">
                    <div class="trip-title"><h3>Hilton Hotel</h3><br /><p>London</p></div>
                    <div class="price"><p>From</p>€ 499</div>
                  </div>
                  <div class="content">
                    <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar fermentum.
                  malesuada metus.</p>
                  
                  <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                </div>
              </div>
            </div>
            <div class="four-col col-md-3 view view-fifth">
              <figure class="triggerAnimation animated" data-animate="fadeInDown">
                <div class="img-effect-flash">
                  <img src="http://placehold.it/640x462" alt=""/>
                </div>
              </figure>
              <div class="mask">
                <div class="main">
                  <div class="trip-title"><h3>Ruka Hotel</h3><br /><p>Zanzibar</p></div>
                  <div class="price"><p>From</p>€ 550</div>
                </div>
                <div class="content">
                  <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar fermentum.
                malesuada metus.</p>
                
                <a href="details.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
          </div>
          <div class="four-col col-md-3 view view-fifth">
            <figure class="triggerAnimation animated" data-animate="fadeInDown">
              <div class="img-effect-flash">
                <img src="http://placehold.it/640x462" alt=""/>
              </div>
            </figure>
            <div class="mask">
              <div class="main">
                <div class="trip-title"><h3>Losi Hotel</h3><br /><p>Madrid</p></div>
                <div class="price"><p>From</p>€ 299</div>
              </div>
              <div class="content">
                <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar fermentum.
              malesuada metus.</p>
              
              <a href="details.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
        </div>
        <div class="four-col col-md-3 view view-fifth">
          <figure class="triggerAnimation animated" data-animate="fadeInDown">
            <div class="img-effect-flash">
              <img src="http://placehold.it/640x462" alt=""/>
            </div>
          </figure>
          <div class="mask">
            <div class="main">
              <div class="trip-title"><h3>Megi Hotel</h3><br /><p>ROme</p></div>
              <div class="price"><p>From</p>€ 299</div>
            </div>
            <div class="content">
              <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar fermentum.
            malesuada metus.</p>
            
            <a href="details.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section id="parallax_slide">
<div class="effect-over">
  <div class="bx-about2 oxy-tmp">
    <ul class="bxslider">
      <li>
        <img src="http://placehold.it/1920x600" alt=""/><div class="cover-slide-trip"></div>
        <div class="trip-slide-price col-md-5">
          <div class="trip-slide-text prague">Paris</div>
          <p>Nestled between the Caribbean, the South Pacific, and the South Atlantic Oceans, South America is the wilder of the Americas, and a continent of superlatives...</p>
        </div>
      </li>
      <li>
        <img src="http://placehold.it/1920x600" alt=""/><div class="cover-slide-trip"></div>
        <div class="trip-slide-price col-md-5">
          <div class="trip-slide-text prague">Venice</div>
          <p>Nestled between the Caribbean, the South Pacific, and the South Atlantic Oceans, South America is the wilder of the Americas, and a continent of superlatives...</p>
        </div>
      </li>
      <li>
        <img src="http://placehold.it/1920x600" alt=""/><div class="cover-slide-trip"></div>
        <div class="trip-slide-price col-md-5">
          <div class="trip-slide-text prague">London</div>
          <p>Nestled between the Caribbean, the South Pacific, and the South Atlantic Oceans, South America is the wilder of the Americas, and a continent of superlatives...</p>
        </div>
      </li>
      <li>
        <img src="http://placehold.it/1920x600" alt=""/><div class="cover-slide-trip"></div>
        <div class="trip-slide-price col-md-5">
          <div class="trip-slide-text prague">Prague</div>
          <p>Nestled between the Caribbean, the South Pacific, and the South Atlantic Oceans, South America is the wilder of the Americas, and a continent of superlatives...</p>
        </div>
      </li>
    </ul>
    </div><!--Close col-md-12-->
  </div>
</section>
<!-- SECTION HELPFUL-->
<section class="section-help-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h2>HELPFUL INFORMATION</h2>
          <div class="separator">
            <div class="separator-style"></div>
          </div>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
        </div>
        
        <div class="col-md-6 help-info">
          <div class="col-md-3"><img src="images/info-help1.png" alt="" /></div>
          <div class="col-md-9 box-info-help"><h3>BOOKING OF TICKETS</h3><p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa.</p>
          <a class="help-bt" href="">Read More</a>
        </div>
      </div>
      <div class="col-md-6 help-info">
        <div class="col-md-3"><img src="images/info-help4.png" alt="" /></div>
        <div class="col-md-9 box-info-help"><h3>TRAVELING WITH FAMILY</h3><p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa.</p>
        <a class="help-bt" href="">Read More</a>
      </div>
    </div>
    </div><!--Close col-md-12-->
  </div>
  <div class="row sc-row">
    <div class="col-md-12">
      <div class="col-md-6 help-info">
        <div class="col-md-3"><img src="images/info-help3.png" alt="" /></div>
        <div class="col-md-9 box-info-help"><h3>HOW TO CHOOSE A TOUR</h3><p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa.</p>
        <a class="help-bt" href="">Read More</a>
      </div>
    </div>
    <div class="col-md-6 help-info">
      <div class="col-md-3"><img src="images/info-help2.png" alt="" /></div>
      <div class="col-md-9 box-info-help"><h3>DONT LOST YOUR FLY</h3><p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa.</p>
      <a class="help-bt" href="">Read More</a>
    </div>
  </div>
  </div><!--Close col-md-12-->
</div>
</div>
</section>
<!-- SECTION PARTHNERS-->
<section class="section-parthners-info">
<div class="container">
<div class="row">
  <div class="col-md-12 parthners">
    <div class="text-center">
      <h2>OUR PARTHNERS</h2>
      <div class="separator">
        <div class="separator-style"></div>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
    </div>
    <div class="col-xs-2 col-md-2">
      <img src="http://placehold.it/380x285" alt="" />
    </div>
    <div class="col-xs-2 col-md-2">
      <img src="http://placehold.it/380x285" alt="" />
    </div>
    <div class="col-xs-2 col-md-2">
      <img src="http://placehold.it/380x285" alt="" />
    </div>
    <div class="col-xs-2 col-md-2">
      <img src="http://placehold.it/380x285" alt="" />
    </div>
    <div class="col-xs-2 col-md-2">
      <img src="http://placehold.it/380x285" alt="" />
    </div>
    <div class="col-xs-2 col-md-2">
      <img src="http://placehold.it/380x285" alt="" />
    </div>
    </div><!--Close col-md-12-->
  </div>
</div>
</section>
<!--Banner Last Minute-->
<section class='last-minute-banner'>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class='col-sm-9 col-md-9'>
        <h1 class="l-main-banner-title">Last Minute Offer! <span>Hurry Up!</span></h1>
        <p class="l-main2-banner-title">Contact Travego for have evry information about trip!</p>
      </div>
      <div class="col-sm-3 col-md-3 button-banner"><a class="shortcode_button btn_large btn_type1 left_icon" href="javascript:void(0);"><i class="fa fa-hand-o-right"></i>Learn More</a></div>
    </div>
  </div>
</div>
</section>
