 <div class="navbar-fixed">
  <nav class="grey lighten-5 grey-text text-darken-2" ng-controller="NavbarCtrl">
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo">
        <img src="assets/images/logo.png" width="200" height="50">
      </a>
      <a href="#" data-activates="mobile-demo" ng-click="showMobileNav()"class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/auth/facebook" class="grey-text text-darken-2" target="_self">Login Facebook</a>
        </li>
        <li>
          <a href="/content" class="grey-text text-darken-2">Content</a>
        </li>
        <li>
          <a href="/content/new" class="grey-text text-darken-2">Create Content</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/auth/facebook" target="_self">Login Facebook</a></li>
        <li><a href="/content">Content</a></li>
        <li><a href="/content/new">Create Content</a></li>
      </ul>
    </div>
  </nav>
</div>
