<div ng-include="'components/navbar/navbar.html'"></div>
<br>
<div class="container contentNew" ng-hide="showPreview">
  <div class="row">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">subtitles</i>
          <input ng-model="content.title" type="text" class="validate">
          <label for="icon_prefix">Title</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">account_circle</i>
          <input ng-model="content.created_by" type="tel" class="validate">
          <label for="icon_telephone">Created by</label>
        </div>

        <div class="input-field col s12 m12">
          <i class="material-icons prefix">description</i>
          <input ng-model="content.description" type="tel" class="validate">
          <label for="icon_telephone">Description</label>
        </div>

        <form action="#">
          <div class="file-field input-field col s6 m6">
            <div class="btn">
              <span>Image preview</span>
              <input id="previewImg" type="file" ng-model="content.imagePreview" onchange="angular.element(this).scope().preview(this)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </form>

       <div class="input-field col s6 m6">
        <i class="material-icons prefix">language</i>
        <input ng-model="content.location" type="tel" class="validate">
        <label for="icon_telephone">Location</label>
      </div>

      <form class="type-form col s12 m6" action="#">
        <h4>Content type</h4>
        <span>
          <input id="type1" type="checkbox" checked="checked" ng-model="content.types.rest"/>
          <label for="type1">ที่พัก</label>
        </span>
        <span>
          <input id="type2" type="checkbox" checked="checked" ng-model="content.types.food" />
          <label for="type2">ของกิน</label>
        </span>
        <span>
          <input id="type3" type="checkbox" checked="checked" ng-model="content.types.activity"/>
          <label for="type3">กิจกรรม</label>
        </span>
        <span>
          <input id="type4" type="checkbox" checked="checked" ng-model="content.types.place"/>
          <label for="type4">สถานที่</label>
        </span>
        <span>
          <input id="type5" type="checkbox" checked="checked" ng-model="content.types.trip"/>
          <label for="type5">ทริป</label>
        </span>
      </form>

      <form class="type-form col s12 m6" action="#">
        <h4>Tags
          <div class="chip" ng-repeat="tag in content.tags">
          {{tag.name}}
          <i class="material-icons" ng-click="removeTag($index)">close</i>
        </div>
        </h4>

        <input class="new-tag-value col s3 m3" style="font-size: 15px;" ng-model="newTag">
         <a class="btn-floating btn-large waves-effect waves-light green" ng-click="addTags()"><i class="material-icons">add</i></a>

      </form>





      </div>

    </form>
  </div>
<!--   <div class=""  style="text-align: center;">
    <div class="waves-effect waves-light btn" ng-click="previewContent()">preview</div>
  </div> -->
  <summernote ng-model="content.content" height="auto"></summernote>



</div>
<div class="fixed-action-btn virtical click-to-toggle" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large blue lighten-1 waves-effect waves-light">
    <i class="large material-icons">settings_applications</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating  lime modal-trigger" ng-click="previewContent();showPreview=!showPreview;" ng-hide="showPreview">
        <i class="material-icons">picture_in_picture</i>
      </a>
      <a class="btn-floating  lime modal-trigger" ng-click="previewContent();showPreview=!showPreview;" ng-show="showPreview">
        <i class="material-icons">mode_edit</i>
      </a>
    </li>
    <li><a class="btn-floating green" ng-click="saveContent()"><i class="material-icons">done</i></a></li>
  </ul>
</div>

<div class="container preview" ng-show="showPreview">
  <h1 ng-hide="content.content">No-data</h1>
  <img id="preview-img">
  <div class="body-preview"></div>



</div>
