.container.contentNew
  .row
    margin-bottom: 0px
  .note-editing-area, .note-editing-area.panel-body
    min-height: 500px
  .panel-body
    min-height: 500px
  .btn
    height: 4rem
    color: #fff
    span
      color: #fff!important