<div ng-include="'components/navbar/navbar.html'"></div>
<summernote ng-model="contentBody" height="500"></summernote>

<div class="container">
  <div class="pull-right">
    <div class="waves-effect waves-light btn btn-danger" ng-click="previewContent()">preview</div>
    <div class="waves-effect waves-light btn btn-warning" ng-click="previewContent()">publish</div>
    <div class="waves-effect waves-light btn btn-primary" ng-click="previewContent()">title</div>
    <div class="waves-effect waves-light btn btn-success" ng-click="previewContent()">description</div>
  </div>
</div>