.fullwidthbanner-container {
	position: relative;
	width: 100% !important;
    overflow: hidden;
    padding: 0;
	margin-bottom: 50px;
	background-color: #ebebeb;
}

.fullwidthbanner-container ul { list-style: none; }

.fullwidthbanner-container .fullwidthbanner {
	max-height: 500px !important;
	position: relative;
	width: 100% !important;
}

.fullwidthbanner-container .fullwidthbanner-2 {
	max-height: 700px !important;
	margin-bottom: 100px;
}

.fullwidthbanner-container .fullwidthbanner-alternative { max-height: 750px !important; }

.caption.icon {
	padding: 30px;
	border-radius: 7px;
	background-color: #ea6872;
	color: #fff;
}

.caption.icon i { font-size: 90px; }

.caption.text {
	padding: 12px 25px 0 35px;
	border-radius: 7px; 
	background-color: rgba(255, 255, 255, 0.25);
	color: #fff;
	font-weight: 400;
}

.caption.text:before {
	position: absolute;
	top: 50%;
	right: -15px;
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent; 
	border-left: 15px solid rgba(255, 255, 255, 0.25); 
	border-bottom: 8px solid transparent;
	margin-top: -8px;
	content: "";
}

.caption.text h2 {
	color: #fff;
	line-height: 30px;
	font-weight: 300;
}

.caption.item-list { color: #fff; }

.caption.item-list:before {
	margin-right: 40px;
	font-family: 'FontAwesome';
	font-size: 12px;
	content: "ï„‘";
}

.caption.item-list:after {
	position: absolute;
	top: -5px;
	left: 5px;
	height: 45px;
	border-left: 1px solid #fff;
	content: "";
}

.caption.item-list.alt {
	padding-left: 60px;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

.caption.item-list.alt:before {
	position: absolute;
	top: -3px;
	left: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 50%;
	content: "";
}

.caption.item-list.alt:after { content: none; }

.caption.title {
	color: #fff;
	font-size: 60px;
	line-height: 70px;
	text-align: right;
}

.caption.text-2 {
	color: #fff;
	text-align: right;
}

.caption .btn,
.caption .btn:hover {
	border-color: #fff;
	color: #fff;
}

.caption .btn i { 
	color: #fff;
}

.fullwidthbanner-2 .caption.title {
	color: #5e5e5e;
	font-size: 30px;
	text-transform: uppercase;
}

.fullwidthbanner-2 .caption.text-2 {
	color: #5e5e5e; 
	font-weight: 400;
	text-align: center;
}

.fullwidthbanner-2 .caption.text {
	padding: 20px 50px 20px 20px;
	border-radius: 0;
	background-color: #ea6872;
}

.fullwidthbanner-2 .caption.text.alt {
	padding: 20px 20px 20px 40px;
	background-color: #96b6d4;
}

.tp-leftarrow.default,
.tp-rightarrow.default {
	width: 26px;
	height: 46px;
	opacity: 0.5;
}

.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover { opacity: 1; }

.tp-leftarrow.default { background: url(../../../images/prev-2.png) no-repeat center center; }
.tp-rightarrow.default { background: url(../../../images/next-2.png) no-repeat center center; }

.tp-bullets.simplebullets.round .bullet {
	width: 10px;
	height: 10px;
	border: 1px solid #ea6872;
	border-radius: 50%;
	background: transparent;
}

.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover { background-color: #ea6872; }

@media (min-width: 768px) and (max-width: 979px) {
	
	.caption.icon i { font-size: 60px; }
	
	.caption.text h2 {
		font-size: 13px;
		line-height: 15px;
	}
	
	.caption.item-list.alt {
		padding-left: 90px;
		font-size: 18px; 
	}
	
	.caption.item-list.alt:before {
		top: 5px;
		left: 6px;
		width: 10px;
		height: 10px;
	}
	
	.caption .btn { padding: 5px 15px; }
	.caption .btn i { font-size: 10px; }
	
}

@media (max-width: 767px) {
	
	.caption.icon { display: none; }
	
	.caption.text { margin: -55px 0 0 -150px; }
	
	.caption.text h2 {
		font-size: 10px;
		line-height: 12px;
	}
	
	.caption.item-list.alt { padding-left: 10px; }
	
	.caption.item-list:before,
	.caption.item-list.alt:before,
	.caption.item-list:after { display: none; }
	
	.caption .btn { padding: 0 10px; }
	.caption .btn i { display: none; }
	
	.fullwidthbanner-2 .caption.text { display: none; }
	
}
